<nav class="navbar navbar-fixed-left navbar-minimal animate" role="navigation">
    <div class="navbar-toggler animate">
        <span class="menu-icon"></span>
    </div>

    <ul class="navbar-menu animate">
        <li>
            <a href="/" class="animate">
                <span class="material-icons">home</span>
                <span class="desc animate">Home</span>
            </a>
        </li>
        <li>
            <a href="about" class="animate">
                <i class="material-icons">account_circle</i>
                <span class="desc animate">About Me</span>
            </a>
        </li>
        <li>
            <a href="projects" class="animate">
                <i class="material-icons">collections</i>
                <span class="desc animate">Projects</span>
            </a>
        </li>
        <li>
            <a href="contact" class="animate">
                <i class="material-icons">connect_without_contact</i>
                <span class="desc animate">Contact Me</span>
            </a>
        </li>
        <li>
            <a target="_blank" href="/assets/Resume.pdf" class="animate">
                <i class="material-icons">picture_as_pdf</i>
                <span class="desc animate">Resume</span>
            </a>
        </li>
    </ul>
</nav>