<body style="background: url(/assets/images/blue-marble.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;"
}>

    <div class="site-wrapper">

        <div class="inner cover bg-white">
            <h1 class="name display-1 cover-heading text-center"> JAILANIE KAGANOVSKY </h1>
            <h2 class="index-title text-center">Research Coordinator & Full-Stack Web Developer</h2>
        </div>

        <div class="d-flex justify-content-evenly">
            <a class="text-white" href="about">ABOUT ME</a>
            <a class="text-white" href="projects">PROJECTS</a>
            <a class="text-white" href="contact">CONTACT ME</a>
            <a class="text-white" href="/assets/Resume.pdf" target="_blank">RESUME</a>
        </div>

    </div>

</body>