* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #eeeef7;
}

header {
    color: #92ccce;
    background-image: url("https://media.giphy.com/media/dXKLXks7fK9qrRxbHF/giphy.gif");
}

header nav {
    display: inline-block;
    background-color: #31343d;
    width: 100%;
}

header h1 {
    font-size: 36px;
    padding: 10px 0px 10px 50px;
    margin: 10px 0px;
    width: 50%;
    background-color: #92ccce;
    color: #445877;
    display: inline-block;
}

.self-portrait {
    border-radius: 25%;
    width: 150px;
    height: auto;
    padding: 20px;
}

header nav a {
    color: #92ccce;
    float: right;
    padding: 20px;
}

header h2 {
    color: #445877;
    float: right;
    background-color: #92ccce;
    margin: 150px 30px 10px 80px;
}

.container {
    display: flexbox;
    flex-direction: column;
}

.container h2 {
    margin-left: 100px;
    padding: 10px;
    flex: left;
    width: 20px;
    vertical-align: text-bottom;
}

.container p {
    padding: 0px 30px;
    border-left-color: #31343d;
    border-left-style: solid;
    margin-left: 20%;
    flex-wrap: wrap;
}